alembic==1.18.5
bcrypt==4.0.1
cffi==2.1.0
cryptography==49.0.0
ecdsa==0.19.2
email-validator
fastapi==0.115.0
greenlet==3.5.3
httpx
Mako==1.3.12
passlib==1.7.4
pyasn1==0.6.3
pycparser==3.0
pydantic==2.10.0
pydantic-settings
python-dotenv
python-jose==3.5.0
python-multipart
PyYAML
rsa==4.9.1
SQLAlchemy==2.0.51
uvicorn[standard]
psycopg[binary]